body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.sidenav {
    width: 250px;
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px; /* Adjust bottom to leave 20px space */
    background-color:  #00008B;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
}

.main-content {
    margin-left: 290px; /* Adjust to accommodate sidebar width and padding */
    padding: 20px;
}

.sidenav .sidebar-header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sidenav .sidebar-header .logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.sidenav .sidebar-header .library-name {
    color: #fff;
    font-size: 18px;
}

.sidenav a {
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-input, .form-select {
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-select {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23818181"><path d="M10 12L6 8h8z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 12px);
    background-position-y: center;
    padding-right: 40px;
}

.form-button {
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #45a049;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
}

.issue-book-button-container {
    text-align: right;
    margin-top: 20px;
}
.input-group {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 20px; /* Optional: Add margin bottom for spacing */
}

.input-group input[type="text"] {
    flex: 1; /* Grow the input field to take up remaining space */
    margin-right: 5px; /* Space between input and buttons */
}

.input-group button {
    margin-left: 5px; /* Space between buttons */
}
