<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Responsive Admin Dashboard</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
<!--    =============================Navigation=======================-->
     <div class="container">
         <div class="navigation">
             <ul>
                 <li>
                 <a href="#">
                     <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                     <span class="title">Brand Name</span>
                 </a>
                 </li>
                 <li>
                     <a href="">
                         <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                         <span class="title">Dashboard</span>
                     </a>
                 </li>

                 <li>
                     <a href="">
                         <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                         <span class="title">Librarians</span>
                     </a>
                 </li>

                 <li>
                     <a href="">
                         <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                         <span class="title">Messages</span>
                     </a>
                 </li>

                 <li>
                     <a href="">
                         <span class="icon"><ion-icon name="help-outline"></ion-icon></span>
                         <span class="title">Help</span>
                     </a>
                 </li>

                 <li>
                     <a href="">
                         <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                         <span class="title">Password</span>
                     </a>
                 </li>

                 <li>
                     <a href="">
                         <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                         <span class="title">Settings</span>
                     </a>
                 </li>

                <li>
                 <a href="">
                     <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                     <span class="title">Sign Out</span>
                 </a>
                 </li>
             </ul>
         </div>
     </div>

<script src="main.js"></script>
<!--====================icons==============================-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
    </html>