<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to YourApp</title>
    <link rel="stylesheet" href="landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div class="container">
    <h1>Welcome to E-learning<br>Library Management</h1>
    <div class="buttons">
        <a href="register.html" class="btn">Register</a>
        <a href="login.html" class="btn">Login</a>
        <a href="Adminlogin.html" class="btn">Login Admin</a>
    </div>
</div>
<div>

    <p>
        <br>We're delighted to have you here.
        <br> This platform is designed to
        <br> streamline your library experience,
        <br> making it easier to discover,
        <br>borrow, and enjoy your favorite books.
        <br>Dive in and explore the of knowledge .
        <br>Happy reading!
    </p>

</div>
<footer>
    <div class="contact">
        <h3><i class="fas fa-phone"></i> Contact us:</h3>
        <h3> Phone: +27 793 947 502</h3>
        <h3><i class="far fa-envelope"></i> Email: elerning@library.co.za</h3>
    </div>
    <div class="address">
        <h3><i class="fas fa-map-marker-alt"></i> Address:</h3>
        <h3>97 Durham Ave, Salt River</h3>
        <h3>Cape Town 7925</h3>
    </div>
    <div class="opening">
        <h3><i class="far fa-clock"></i> Opening Hours:</h3>
        <h3>Mon-Fri: 9am-5pm</h3>
        <h3>Public Holidays & weekends: Closed</h3>
    </div>
</footer>
</body>
</html>
