<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../../webapp/styles.css">
</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form action="/login-action" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <a href="../../../webapp/landing.html">back to welcome page</a>
    </form>
</div>
</body>
</html>
